# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mikalayt/game.mikalay.tech"
PassengerBaseURI "/"
PassengerNodejs "/home/mikalayt/nodevenv/game.mikalay.tech/10/bin/node"
PassengerAppType node
PassengerStartupFile index.js
PassengerAppLogFile "/home/mikalayt/game.mikalay.tech"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END